@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>防護員註冊</title>
    <link rel="icon" href="~/img/favicon.svg" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/registerStyle.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class="register-container">
        <div class="text-center">
            <img src="~/img/logo.svg" alt="Logo圖標" style="height: 45px; width: 100%;">
        </div>

        <form action="/Account/RegisterTrainer" method="post">
            <div class="form-group">
                <label for="userName" title="帳號名稱">防護員帳號</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="請輸入帳號名稱" required />
            </div>
            <div class="form-group">
                <label for="pwd" title="密碼">密碼</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="請輸入密碼（至少6位）" required />
            </div>
            <div class="form-group">
                <label for="title" title="職稱">職稱</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="請輸入職稱" required />
            </div>
            <div class="form-group">
                <label for="department" title="所屬單位">單位</label>
                <input type="text" class="form-control" id="department" name="department" placeholder="請輸入所屬單位" required />
            </div>
            <div class="form-group">
                <label for="expertise" title="專長">專長</label>
                <input type="text" class="form-control" id="expertise" name="expertise" placeholder="請輸入專長領域" required />
            </div>

            <button type="submit" class="btn btn-primary btn-block" title="註冊">註冊</button>
        </form>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger mt-3" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>
</body>
</html>