@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>_ImmediateMemory</title>
</head>
<body>
    <div>
    </div>
    <form action="/Questionnaire/CoordinationAndBalanceExamination" method="get">
        <button type="submit" class="btn btn-outline-primary">接續下一頁</button>
    </form>
</body>
</html>