@model IEnumerable<Tiss_HealthQuestionnaire.Models.FemaleQuestionnaire>
@{
    Layout = "~/Views/Shared/_HealthLayout.cshtml";
}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="p-4">
        <h1 class="text-xl font-bold mb-4">女性問卷 Female Health Questionnaire</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="border border-gray-300 px-4 py-2">問題 Question</th>
                        <th class="border border-gray-300 px-4 py-2 text-center">答案 Answer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var question in Model)
                    {
                        <tr class="hover:bg-gray-100">
                            <td class="border border-gray-300 px-4 py-2">
                                <span class="block font-medium">@question.QuestionZh</span>
                                <span class="block text-sm text-gray-600">@question.QuestionEn</span>
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                @if (question.ID == 1)
                                {
                                    <div class="space-y-2">
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="10以下" class="form-radio h-5 w-5 text-blue-600 mr-2">10歲 (含) 以下</label>
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="11" class="form-radio h-5 w-5 text-blue-600 mr-2">11歲</label>
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="12" class="form-radio h-5 w-5 text-blue-600 mr-2">12歲</label>
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="13" class="form-radio h-5 w-5 text-blue-600 mr-2">13歲</label>
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="14" class="form-radio h-5 w-5 text-blue-600 mr-2">14歲</label>
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="15" class="form-radio h-5 w-5 text-blue-600 mr-2">15歲</label>
                                        <label class="block"><input type="radio" name="femaleQuestion_@question.ID" value="16以上" class="form-radio h-5 w-5 text-blue-600 mr-2">16歲 (含) 以上</label>
                                    </div>
                                }
                                else if (question.ID == 2)
                                {
                                    <div class="space-y-2">
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="yes" class="form-checkbox h-5 w-5 text-blue-600 mr-2">是 Yes</label>
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="no" class="form-checkbox h-5 w-5 text-blue-600 mr-2">否 No</label>
                                    </div>
                                }
                                else if (question.ID == 3)
                                {
                                    <div class="space-y-2">
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="yes" class="form-checkbox h-5 w-5 text-blue-600 mr-2">是 Yes</label>
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="no" class="form-checkbox h-5 w-5 text-blue-600 mr-2">否 No</label>
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="noCycle" class="form-checkbox h-5 w-5 text-blue-600 mr-2">目前無生理期</label>
                                    </div>
                                }
                                else if (question.ID == 4)
                                {
                                    <div class="space-y-2">
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="yes" class="form-checkbox h-5 w-5 text-blue-600 mr-2">是 Yes</label>
                                        <label class="block"><input type="checkbox" name="femaleQuestion_@question.ID" value="no" class="form-checkbox h-5 w-5 text-blue-600 mr-2">否 No</label>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>