@model Tiss_HealthQuestionnaire.Models.QuestionnaireViewModel
<form method="post" action="@Url.Action("NowInjuryNextStep", "Questionnaire")">
    <h2>目前有的症狀或疼痛部位</h2>
    <div class="space-y-4">
        <div>
            <label class="block">
                <input type="radio" id="NowNoInjury" name="NowInjuryStatus" value="no" class="form-radio h-5 w-5 text-blue-600 mr-2">
                無 (若勾無，以下不必填寫)
            </label>
            <label class="block">
                <input type="radio" id="NowHasInjury" name="NowInjuryStatus" value="yes" class="form-radio h-5 w-5 text-blue-600 mr-2">
                有，請詳述有症狀的部位
            </label>
        </div>
        <div class="grid grid-cols-3 gap-4 NowInjuryDetails hidden">
            @foreach (var item in Model.NowInjuryItems)
            {
                <div>
                    <div class="font-medium">@item.InjuryPart</div>
                    <input type="checkbox" name="NowInjury_@item.Id" class="form-checkbox h-5 w-5 text-blue-600 mr-2">
                </div>
            }
        </div>
    </div>

    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">下一步</button>
</form>