@*過去有的症狀或疼痛部位 (已復原)*@
@model Tiss_HealthQuestionnaire.Models.QuestionnaireViewModel

<form method="post" action="@Url.Action("pastInjuryStatusNextStep", "Questionnaire")">
    <h2>過去有的症狀或疼痛部位 (已復原)</h2>
    <label>
        <input type="radio" name="PastInjuryStatusAnswer" value="no" class="form-radio h-5 w-5 text-blue-600 mr-2">
        無 (若勾無，以下不必填寫)
    </label>
    <label>
        <input type="radio" name="PastInjuryStatusAnswer" value="yes" class="form-radio h-5 w-5 text-blue-600 mr-2">
        有，請詳述有症狀的部位
    </label>
    <button type="submit">下一步</button>
</form>